Repository etfm/vue-etfm-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(core): 修复布局样式
  apps/element-admin/src/main.ts
  packages/core/src/layout/layouts/layout-aside.vue
  packages/core/src/layout/layouts/layout.vue
  packages/core/src/plugin/plugin-context.ts
  packages/core/src/plugin/plugin-manager.ts
  packages/core/src/plugin/plugin.ts
  packages/plugin-aside-mixed-nav/src/aside.vue
  packages/plugin-aside-mixed-nav/src/components/mix-menu/mix-menu.vue
  packages/plugin-aside-mixed-nav/src/extra-header.vue
  packages/plugin-aside-mixed-nav/src/extra.vue
  packages/plugin-aside-mixed-nav/src/index.ts
  packages/plugin-aside-mixed-nav/src/logo.vue
  packages/plugin-aside-nav/src/index.ts
  packages/plugin-aside-nav/src/logo.vue
  packages/plugin-header-nav/src/index.ts
  packages/plugin-header-nav/src/logo.vue
  packages/plugin-layout-preset/src/index.ts
  packages/plugin-mixed-nav/src/index.ts
  packages/plugin-mixed-nav/src/logo.vue
  packages/types/src/core/plugin/plugin-register-options.ts
  packages/types/src/core/plugin/plugin-runtime.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(ui): 修复菜单
  packages/ui/src/menu/src/menu.vue
Due: none

feat(core): 修复
  apps/element-admin/src/main.ts
  packages/core/src/layout/components/draggable-line/index.vue
  packages/core/src/layout/components/widget/draggable-line-view.vue
  packages/core/src/layout/components/widget/index.ts
  packages/core/src/layout/components/widget/widget-view.vue
  packages/core/src/layout/layouts/layout-aside.vue
  packages/core/src/layout/layouts/layout.vue
  packages/core/src/layout/widget.ts
  packages/element-ui/src/drawer/src/props.ts
  packages/plugin-setting/src/components/dark-mode/index.vue
  packages/plugin-setting/src/components/type-picker/index.vue
  packages/plugin-setting/src/index.ts
  packages/types/src/core/skeleton.ts
  packages/types/src/core/widget-base-config.ts
Due: prettier --write, eslint --fix

feat(element-admin): 修改主题设置
  packages/core/src/layout/layouts/layout-header.vue
  packages/element-ui/package.json
  packages/element-ui/src/register.ts
  packages/element-ui/src/utils/theme.ts
  packages/plugin-aside-mixed-nav/src/components/mix-menu/mix-menu.vue
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(bs-ui): 修复组件
  .gitignore
  apps/element-admin/package.json
  apps/element-admin/src/plugin/plugin-user/index.vue
  apps/element-admin/src/views/dashboard/analysis/index.vue
  packages/bs-ui/package.json
  packages/bs-ui/src/basic-menu/src/BasicMenu.vue
  packages/bs-ui/src/basic-menu/src/BasicMenuItem.vue
  packages/bs-ui/src/basic-menu/src/BasicMenuItemContent.vue
  packages/bs-ui/src/basic-menu/src/BasicSubMenu.vue
  packages/bs-ui/src/page-container/src/breadcrumb.vue
  packages/core/package.json
  packages/plugin-breadcrumb/package.json
  packages/plugin-breadcrumb/src/index.vue
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core): 修复主题
  apps/element-admin/package.json
  apps/element-admin/src/main.ts
  packages/core/src/config.ts
  packages/core/src/shell/theme.ts
  packages/core/src/theme/constants.ts
  packages/core/src/theme/theme.ts
  packages/plugin-element-preset/.eslintrc.js
  packages/plugin-element-preset/README.md
  packages/plugin-element-preset/package.json
  packages/plugin-element-preset/src/index.ts
  packages/plugin-element-preset/tsconfig.json
  packages/plugin-element-preset/vite.config.ts
  packages/plugin-element-ui/.eslintrc.js
  packages/plugin-element-ui/README copy.md
  packages/plugin-element-ui/README.md
  packages/plugin-element-ui/package.json
  packages/plugin-element-ui/src/i18n.ts
  packages/plugin-element-ui/src/index.ts
  packages/plugin-element-ui/src/theme.ts
  packages/plugin-element-ui/tsconfig.json
  packages/plugin-element-ui/vite.config.ts
  packages/plugin-setting/src/components/color-mode/index.vue
  packages/plugin-setting/src/components/dark-mode/index.vue
  packages/plugin-setting/src/hooks/useTheme.ts
  packages/types/src/core/api/theme.ts
  packages/types/src/core/engine-options.ts
  packages/types/src/core/theme.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(element-ui): 增加主题配置
  packages/element-ui/src/menu/index.scss
  packages/element-ui/src/menu/src/BasicMenu.vue
  packages/plugin-element-ui/src/index.ts
  packages/plugin-element-ui/src/theme.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(element-admin): 修复主题
  apps/element-admin/package.json
  apps/element-admin/src/plugin/plugin-user/index.vue
  packages/bs-ui/package.json
  packages/bs-ui/src/basic-menu/index.ts
  packages/bs-ui/src/basic-menu/src/BasicMenu.vue
  packages/bs-ui/src/basic-menu/src/BasicMenuItem.vue
  packages/bs-ui/src/basic-menu/src/BasicMenuItemContent.vue
  packages/bs-ui/src/basic-menu/src/BasicSubMenu.vue
  packages/bs-ui/src/basic-menu/src/enum.ts
  packages/bs-ui/src/index.ts
  packages/bs-ui/src/page-container/src/breadcrumb.vue
  packages/core/package.json
  packages/core/src/layout/layouts/layout-aside.vue
  packages/core/src/layout/layouts/layout-header.vue
  packages/core/src/layout/layouts/layout-toolbar.vue
  packages/core/src/layout/layouts/layout.vue
  packages/core/src/theme/theme.ts
  packages/design/src/common/var.scss
  packages/plugin-aside-nav/src/logo.vue
  packages/plugin-breadcrumb/package.json
  packages/plugin-breadcrumb/src/index.vue
  packages/plugin-element-ui/src/constants.ts
  packages/plugin-element-ui/src/index.ts
  packages/plugin-element-ui/src/theme.ts
  packages/plugin-setting/src/components/color-mode/index.vue
  packages/plugin-setting/src/components/switch-item/index.ts
  packages/plugin-setting/src/components/switch-item/switch-item.vue
  packages/plugin-setting/src/constants.ts
  packages/plugin-setting/src/drawer-setting.vue
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: package.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
